<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/log/in">
      <input type="email" name="email" id="email" />
      <input type="password" name="password" id="password" />
      <input type="submit" value="로그인" />
    </form>

    <form method="post" action="/log/out">
      <input type="submit" value="로그아웃" />
    </form>
  </body>
</html>
